*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.theme--One{
    --body-background:hsl(222, 26%, 31%);
     --display-background:hsl(224, 36%, 15%);
     --keypad-background: hsl(223, 31%, 20%);
      --keys-background: hsl(30, 25%, 89%);
      --keys-shadow: hsl(28, 16%, 65%);
        --main-keys: hsl(185, 42%, 37%);
        --main-keys-shadow:hsl(185, 58%, 25%);
        --sub-keys: hsl(25, 98%, 40%);
        --sub-keys-shadow: hsl(25, 99%, 27%);
        --text-color: hsl(221, 14%, 31%);
        --display-text:hsl(30, 25%, 89%);     
        --heading-text:hsl(30, 25%, 89%);
}

.theme--Two{
    --body-background:hsl(0, 0%, 90%);
    --display-background: hsl(0, 30%, 83%);
     --keypad-background: hsl(0, 5%, 81%);
    --keys-background: hsl(45, 7%, 89%);
    --keys-shadow: hsl(35, 11%, 61%);
     --main-keys: hsl(185, 42%, 37%);
      --main-keys-shadow:hsl(185, 58%, 25%);
       --sub-keys: hsl(25, 98%, 40%);
       --sub-keys-shadow: hsl(25, 99%, 27%);
        --text-color: hsl(60, 10%, 19%);
        --display-text: hsl(0, 0, 100%);
        --heading-text:hsl(60, 10%, 19%);
}


.theme--Three{
    --body-background: hsl(268, 47%, 21%);
    --display-background: hsl(268, 71%, 12%);
     --keypad-background: hsl(268, 71%, 12%);
      --keys-background: hsl(268, 47%, 21%);
      --keys-shadow: hsl(290, 70%, 36%);
      --main-keys: hsl(281, 89%, 26%);
      --main-keys-shadow: hsl(285, 91%, 52%);
      --sub-keys: hsl(176, 100%, 44%);
      --sub-keys-shadow: hsl(177, 92%, 70%);
       --text-color: hsl(52, 100%, 62%);
       --display-text: hsl(52, 100%, 62%);
       --heading-text:hsl(52, 100%, 62%);
}



body{
    font-size: 32px;
    font-weight: 700;
    height: 100vh;
    background-color:var(--body-background);
}


.container{
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: center; 
    align-items: center;
    width: 100%;
    margin-top: 10rem;

}

.header{
  
    width: 100%;
    
}


.header__main {
      width: 30%;
      min-width: 400px;
     margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.header__main--text >h1{
    color: var(--heading-text);
}

.header__main-themeToggler {

    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-left: 5rem; */
}

.header__main-themeToggler>label{
    margin-right: .5rem;
       color: var(--heading-text);
}

.header__main-themeToggler .rangeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
      margin-left: 1rem;
}
.header__main-themeToggler .range-values
{
      margin-left: 1rem;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--heading-text);
}
.header__main-themeToggler .range{
    margin-left: 1rem;
    width: 60px;
    height: 25px;
    -webkit-appearance: none;
    background-color: var(--keypad-background);
    outline: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: var(--keys-shadow);
}
.header__main-themeToggler .range::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--heading-text);
    cursor: pointer;
}

.calculator__display{
    
    margin-top: 1rem;
    background-color:var(--display-background);
    /* width: 30%; */

        min-width: 420px;

    border-radius: 5px;
    color:var(--display-text);
     text-align: right;
    
}
 @media screen and
  (min-width:375px){
    .calculator__display {
   /* width:60%; */
   width: 30%;
     min-width: 420px;

    }
 }



.calculator__display--previous{
 height: 50px;
 font-size: 2rem;
 margin-bottom: -15px;
  color:var(--display-text);

  }


.calculator__display--current {
height: 50px;
font-size: 2rem;
      color:var(--display-text);
}

.calculator__keys{
     margin-top: 1rem;
     background-color:var(--keypad-background);
     height:150vh;
     border-radius: 5px;
    
    
}

.calculator__keys__rows{
margin: 1rem  1rem;

}

.calculator__keys--firstRow,
.calculator__keys--secondRow ,
.calculator__keys--thirdRow,
.calculator__keys--forthRow {
    margin: 1rem  auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap:1.2rem;
    row-gap: 1.2rem;
    justify-items: center;
}

.calculator__keys--firstRow button,
.calculator__keys--secondRow button,
.calculator__keys--thirdRow button,
.calculator__keys--forthRow button,
.calculator__keys--firthRow button{
       background-color:var(--keys-background);
       border: none;
       outline: none;
       color:var(--text-color);
       box-shadow:var(--keys-shadow);
       font-size:20px;
       font-weight: 700;
    padding: .7rem 1.5rem !important;
    border-radius: 7px;
    cursor: pointer;
    width: 100%;
}

.calculator__keys--firstRow .delete {
    background-color: var(--main-keys);
    box-shadow: var(--main-keys-shadow);
    color:#fff
    
}

.calculator__keys--firthRow {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
      gap:1rem;
    
}

.calculator__keys--firthRow >.calculator__keys--firthRow--reset {
grid-column-start: 1;
grid-column-end: 3;
   background-color: var(--main-keys);
   box-shadow: var(--main-keys-shadow);
   color:#fff
}

.calculator__keys--firthRow>.calculator__keys--firthRow--persentage {
grid-column: 3 / 5;
   background-color: var(--sub-keys);
   box-shadow: var(--sub-keys-shadow);
   color:#fff
}

.calculator__keys--firthRow>.calculator__keys--firthRow--equals {
    grid-column: 5 / 7;
  background-color: var(--sub-keys);
  box-shadow: var(--sub-keys-shadow);
  color:#fff
}

.attribution{
    width: 100%;
    margin: 10rem auto;
    text-align: center;
    font-size: 1.5rem;
}

.footer--text{
text-decoration: none;
color: var(--heading-text);
}